body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.card {
    width: 300px;
    aspect-ratio: 5/6;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px auto;
    text-align: center;
    border: 2px solid #cccccc;
}

.card img {
    border-radius: 50%;
    overflow: hidden;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
}

p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #666666;
}

a {
    background-color: lightblue;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    position: relative ;
}

.link {
    margin: 30px;
}